<div class="modal-header">
      <h4 class="modal-title">Email Ids!</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <td>Email Id</td>
          <td>Handle</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let email of allEmails">
          <td><span [hidden]="email.editclicked"> {{email.emailId}}</span><span [hidden]="!email.editclicked"><input type="text"  class="form-control input-sm"  [(ngModel)]="email.emailId" [value]="email.emailId" ></span></td>
          <td>
            <i class="fas fa-trash-alt clickable" (click)="deleteEmailId(email.id)"></i>&nbsp;&nbsp;
            <i class="fa-edit clickable " [class.far] = "email.editclicked" [class.fas]= "!email.editclicked" (click)="editStateChanged(email)" ></i>
          </td>
        </tr>
      </tbody>
      </table>
      <div class="form-group form-inline">
        <span>Email ID：</span>
        <input class="form-control input-sm textedits"  [(ngModel)]="newEmailId"/>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary btn-sm" (click)="addEmailId()">Add Email</button>
      </div> 
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
